[submodule "turtlebot_simulator"]
	path = turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "turtlebot"]
	path = turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "turtlebot_apps"]
	path = turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps.git
[submodule "turtlebot_msgs"]
	path = turtlebot_msgs
	url = https://github.com/turtlebot/turtlebot_msgs.git
[submodule "turtlebot_interactions"]
	path = turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "src/turtlebot_simulator"]
	path = src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "src/turtlebot"]
	path = src/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "src/turtlebot_apps"]
	path = src/turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps.git
[submodule "src/turtlebot_msgs"]
	path = src/turtlebot_msgs
	url = https://github.com/turtlebot/turtlebot_msgs.git
[submodule "src/turtlebot_interactions"]
	path = src/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "src/robot_pose_ekf"]
	path = src/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "src/depthimage_to_laserscan"]
	path = src/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
[submodule "src/kobuki_msgs"]
	path = src/kobuki_msgs
	url = https://github.com/yujinrobot/kobuki_msgs.git
[submodule "src/kobuki_desktop"]
	path = src/kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop.git
[submodule "src/yujin_ocs"]
	path = src/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "src/kobuki"]
	path = src/kobuki
	url = https://github.com/yujinrobot/kobuki.git
	branch = melodic
